<header>
  <h1>Planium</h1>
  <nav>
    <ul>
      <li>PARA OPERADORAS</li>
      <li>PARA CORRETORAS</li>
      <li>PARA VOCÊ</li>
      <li>SALA DE NOTÍCIAS</li>
      <li>SOLICITE UMA DEMONSTRAÇÃO</li>
    </ul>
  </nav>
</header>